﻿// Fix the Bootstrap font path so it points to wwwroot/fonts instead of wwwroot/fonts/bootstrap.
$icon-font-path: '../../fonts/';
$fa-font-path: '../../fonts/';

// Import the bootstrap SASS style-sheet so that it can be customized and variables overridden here.
@import '../../node_modules/datatables.net-bs4/css/datatables.bootstrap4';
@import '../../node_modules/font-awesome/scss/font-awesome';
@import '../../node_modules/bootswatch/dist/cosmo/variables';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootswatch/dist/cosmo/bootswatch';

.selected {
    @extend .table-primary;
}

.dt-bootstrap4 {
    padding-left: 0;
    padding-right: 0;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: center;
}

span.select-info {
    margin-left: 10px;
    font-style: italic;
}
