﻿@model WebUI.ViewModels.ParameterForManipulationDto


<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="ParameterType"></label>
        <select asp-for="ParameterType"
                asp-items="Html.GetEnumSelectList<Core.Enums.ParameterType>().OrderBy(s => s.Text)" class="form-control">
            <option value="">Please select ...</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="ParentId"></label>
        <select asp-for="ParentId" class="form-control" disabled>
            <option value="">Please select ...</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Value"></label>
        <input asp-for="Value" class="form-control">
    </div>
</form>
