﻿@model WebUI.ViewModels.ParameterForManipulationDto

<div class="container pt-5">
    <div id="ParametersGrid" class="card">
        <div class="card-header">Header</div>
        <div class="card-body">
            <div class="row pb-1">
                <div class="col-sm text-sm-left">
                    <div class="btn-group" role="group" aria-label="Action buttons">
                    </div>
                </div>
                <div class="col-sm-5 text-sm-right">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                        </div>
                        <input id="CustomSearchInput" type="text" class="form-control" placeholder="Search ..." aria-label="Search" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>

            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Parent</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="js-modal-container">
            <div class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="js-confirmation-text">Are you sure you want this?</p>
                            <partial name="_ParameterEditForm" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-action-type>Save changes</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="GridButtonTemplate" type="x-tmpl-mustache">
    <button id="{{Name}}" type="button" class="btn {{Css.Button}}" data-action-type="{{Type}}" {{Css.Disabled}}><i class="fa {{Css.Font}}"></i>&nbsp;{{Name}}</button>
</script>

@section scripts
{
    <script src="~/js/app/parameters.js"></script>
}
