﻿@using Core.Enums
@model WebUI.ViewModels.SurveyViewModel
@inject WebUI.Services.IViewDataService Service

<div id="SurveyContainer" class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <h5 class="card-header">Where are you from?</h5>
                <div class="card-body">
                    <form method="post">
                        <div class="form-group row">
                            <label asp-for="ContinentId" class="col-md-2 col-form-label text-md-right"></label>
                            <div class="col-md-10">
                                <select asp-for="ContinentId"
                                        asp-items="@Service.GetParametersOfType(ParameterType.Continent)"
                                        class="form-control">
                                    <option value="">Please select ...</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="RegionId" class="col-md-2 col-form-label text-md-right"></label>
                            <div class="col-md-10">
                                <select asp-for="RegionId" class="form-control">
                                    <option value="">Please select ...</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="CountryId" class="col-md-2 col-form-label text-md-right"></label>
                            <div class="col-md-10">
                                <select asp-for="CountryId" class="form-control">
                                    <option value="">Please select ...</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-10 offset-md-2">
                                <div class="form-check">
                                    <input asp-for="Confirmation" class="form-check-input">
                                    <label asp-for="Confirmation" class="form-check-label"></label>
                                </div>   
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 offset-md-2">
                                <button id="SurveyComplete" type="submit" class="btn btn-success">Confirm</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/js/app/survey.js"></script>
}
