﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="https://getbootstrap.com/favicon.ico">
        <title>Checkout example for Bootstrap</title>
        <environment include="Development">
            <link href="~/css/site.css" rel="stylesheet" asp-append-version="false" />
        </environment>
        <environment exclude="Development">
            <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
        </environment>
        
    </head>
    <body class="" cz-shortcut-listen="true">

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Parameters">Parameters</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Survey">Survey</a>
                    </li>
                </ul>
            </div>
        </nav>

        @RenderBody()
        <environment include="Development">
            <script src="~/js/lib/vendors.js" asp-append-version="false"></script>
        </environment>
        <environment exclude="Development">
            <script src="~/js/lib/vendors.min.js" asp-append-version="true"></script>
        </environment>
        @RenderSection("scripts", required: false)

    </body>
</html>